@{
    ViewBag.Title = "About";
}

<div id="stage-title">
    <h2>Sobre</h2>
</div>

<div id="stage-body">
    <div style="padding-left: 20px;">
        <p><b>Desenvolvedor: </b>Ygor Augusto Costa Veronez</p>
        <p><b>E-Mail: </b><a href="mailto:ygor.veronez.93@hotmail.com">ygor.veronez.93@hotmail.com</a></p>
        <p><b>Celular: </b>(11) 98228-0149 - VIVO</p>
        <p><b>Código Fonte: </b><a href="https://github.com/ygorveronez/TesteYgor.MVC/tree/TesteYgor">https://github.com/ygorveronez/TesteYgor.MVC/tree/TesteYgor</a></p>
    </div>
</div>