@{
    ViewBag.Title = "Index";
}

<div id="stage-title">
    <h2>Home</h2>
</div>

<div id="stage-tools">
    <div style="margin-left:10px;">Bem vindo!</div>
</div>

<div id="stage-body">
    <p style="text-align: center;">@Html.ActionLink("Sobre o Site","About", null, new { @class = "button", })</p>
</div> 